* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.App {
  width: 100%;
  min-height: 100vh ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.header,
.footer {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.content {
  min-height: calc(100vh - 110px);
  width: 100%;
  padding-bottom: 40px;
}

.boxes-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 50px;
}

.box-expense,
.box-income {
  border: 1px solid #dedede;
  height: 250px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: 24px;
  font-weight: bold;
  margin: 0 20px;
  text-align: center;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  cursor: pointer;
}

.box-expense:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  background-color: #ddd;
}

.box-income:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  background-color: #ddd;
}

.box-no-transaction {
  border: 1px solid #dedede;
  height: 250px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
}

.modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  width: 400px;
  height: 400px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  position: relative;
  z-index: 111;
}

.modal > h2 {
  margin-bottom: 10px;
  font-size: 30px;
}

.modal > button {
  width: 90%;
  height: 50px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 17px;
  margin-top: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.modal > input {
  width: 90%;
  height: 50px;
  margin: 10px;
  padding: 7px;
  font-size: 17px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid #dddddd;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.transactions-wrap {
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .transactions-wrap .transaction{
    width: 85% !important;
  }
}